/* ======== google fonts ========= */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

/* ======== css variables ============ */
:root {
  --primary-color: #a1ff69;
  --secondary-color: #13252f;
  --heading-color: #fff;
  --body-bg: #13252f;
  --small-text-color: #acb2b2;
  --font-name: "Montserrat", sans-serif;
  --card-bg: #152833;
}
